---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
  font-family: autourOneRegular;
  src: url(/assets/fonts/Autour_One/AutourOne-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  color: #3d4144;
  font-family: autourOneRegular !important;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #e6d1ac69;
}

h1, h2, h3, h4, h5, h6, .page__footer-copyright {
  font-family: autourOneRegular !important;
}

::-moz-selection { /* Code for Firefox */
  color: white !important;
  background: #c19453 !important;
}

::selection {
  color: white !important;
  background: #c19453 !important;
}

.motto {
  text-align: center;
  margin: 0;
  font-size: 13px;
  color: black;
}

.page__hero {
  margin-bottom: 1.5em !important;
}

.page__footer {
  background-color: #e6d1ac69 !important;
}

.page__content {
  font-size: 16px;
}

.far { display:inline !important; }

$link-color: #687f6d;
a {
  text-decoration: none;
  font-weight: bold;
}

.text-div-top-about-page {
  margin-top: 2em;
}

.text-div-bottom-about-page {
  margin-bottom: 2em;
}

.image-max-width-about-page {
  max-width: 25em;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
  font-size: larger;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
